<section class="section">
	<div class="container">
		<article class="article {{post.class}}" id="{{post.id}}">
			<div class="article__content">
				{{post.content}}
			</div>
		</article>
	</div>
</section>