{% if menu %}
	<ul>
	{% for item in menu %}
		
		<li class="nav__menu-item {{ item.classes | join(' ') }}">
			<a class="nav__menu-item-link" target="{{ item.target }}" href="{{ item.link }}">{{ item.title }}</a>
			{% include "menu.twig" with {'menu': item.get_children} %}
		</li>
	{% endfor %}
	</ul>
{% endif %}
