<div class="fixed">
	<div class="nav" id="js-navigation">
		<div class="nav__content">
			<div class="nav__container container">
				<div class="nav__row row">
					<div class="nav__logo col-8 col-md-3">
						<button class="hamburger hamburger_effect-2" type="button" id="js-nav-hamburger">
							<span class="hamburger__lines"><span></span><span></span><span></span><span></span></span>
						</button>
						<div class="nav__logo-content"><img class="nav__logo-content-img" src="img/logo.png" alt="" role="presentation"/>
						</div>
					</div>
					<nav class="nav__menu col-12 col-md-6" id="js-navigation-menu"><ul>
						<li class="nav__menu-item"><a class="nav__menu-item-link" data-scroll="data-scroll" href="#id-1">Link 1</a>
						</li>
						<li class="nav__menu-item"><a class="nav__menu-item-link" data-scroll="data-scroll" href="#id-2">Link 2</a>
						</li>
						<li class="nav__menu-item"><a class="nav__menu-item-link" data-scroll="data-scroll" href="#id-3">Link 3</a>
						</li>
					</nav>
				</div>
			</div>
		</div>
	</div>
</div>